.app {
  display: grid;
  grid-template-columns: 250px 1fr;

  min-height: 100vh;
}

.app > aside {
  border-right: 2px solid #333;
}

.app > aside > nav ul {
  list-style: none;
}

.app > aside > nav li + li {
  margin-top: 16px;
  padding: 4px;
}

.app > aside > nav li {
  cursor: pointer;
}

.app > aside > nav li:hover {
  background-color: lightblue;
}

.app > aside > nav li a {
  text-decoration: none;
  color: black;
}

.app > main {
  padding: 8px;
}